<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Linq_to_SQL_Procedure.Properties.Settings.STEPConnectionString"
            connectionString="Data Source=A33PC16\SQLEXPRESS;Initial Catalog=STEP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Linq_to_SQL_Procedure.Properties.Settings.STEPConnectionString1"
            connectionString="Data Source=10.7.101.197;Initial Catalog=STEP;Persist Security Info=True;User ID=test;Password=1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>